@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

.main {
  display: flex;
  height: 96.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, p {
  color: #424242;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.4em;
  font-weight: 700;
}

img {
  fill: #424242;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    text-align: center;
    width: 32em;
  }
}

// .container-2 {
//   max-width: 1400px;
//   margin-left: 6%;
// }

p {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 4px 0;
  margin: 5px 0;
  border-bottom: 1px solid rgba(66, 66, 66, 0.5);
}

.dots {
  display: flex;
  flex-direction: row;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: rgba(66, 66, 66, 0.5);
  border: 0px solid rgba(66, 66, 66, 0.5);
  border-radius: 100%;
  margin: 0 8px 15px 8px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5vh;
  margin: 15px auto;
  a {
    font-size: 0.8em;
    width: 33.333vw;
    margin: 0px 25px;
    opacity: 0.6;
    border: none;
    span {
      border-bottom: 1px solid rgba(66, 66, 66, 0.5);
      padding: 4px 0;
    }
  }
  .center { text-align: center; }
  .right { text-align: right; }
}

header {
  padding: 20px 20px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 29px;
  }
  a {
    margin: 0 20px;
  }
}

.head {
  padding-left: 20px;
  p {
    width: 40em;
    span {
      font-weight: 600;
    }
  }
}

.people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.person {
  padding: 40px 20px;
  img { 
    width: 227px;
    height: 242px;
    margin: 0; 
  }
  p { 
    font-size: 12px;
    color: rgba(66, 66, 66, 0.6);
    width: 227px;
    margin: 0;
  }
  h2 { 
    font-size: 14px;
    margin: 0; 
  }
  .desc {
    margin-top: 5px;
    line-height: 18px;
  }
}