// HEADER
header {
  padding: 20px 20px 100px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    height: 29px;
  }
  nav {
    a {
      margin: 0 20px;
      text-decoration: none;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      padding: 4px 0;
      color: $color-tundora-grey;
      border-bottom: 1px solid rgba(66, 66, 66, 0.5);
    }
  }
}

// FOOTER
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3vh;
  float: right;
  margin: 15px auto;
  max-width: 100%;
  a {
    font-size: 0.8em;
    width: 33.333vw;
    margin: 0px 25px;
    opacity: 0.6;
    border: none;
    text-decoration: none;
    color: $color-tundora-grey;
    span {
      border-bottom: 1px solid $color-tundora-grey;
      padding: 4px 0;
    }
  }
  .center { text-align: center; }
  .right { text-align: right; }
}

// LISTING PAGE
.list-content {
  &__container {
    min-height: 100%;
    width: 90%;
    max-width: 100%;
    float: right;
    margin-bottom: -3vh;
    padding-bottom: 7em;
    display: flex;
    flex-direction: column;
  }
  &__header {
    padding-left: 20px;
    h1 {
      @include primary-font();
      font-size: 24px;
    }
    p {
      @include secondary-font(400);
      width: 30em;
      max-width: 95%;
      font-size: 16px;
      span {
        font-weight: 600;
      }
    }
  }
  &__people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
}

.logo {
  border-bottom: none;
}

.list-content__person {
  padding: 40px 20px;
  img {
    width: 227px;
    height: 242px;
    margin: 0;
  }
  p {
    font-size: 12px;
    color: $color-tundora-grey-light;
    width: 227px;
    margin: 0;
  }
  h2 {
    font-size: 14px;
    color: $color-tundora-grey;
    margin: 0;
  }
  .list-content__description {
    margin-top: 5px;
    line-height: 18px;
  }
}

// ABOUT PAGE

.container {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 200px;
}

.about-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__title {
    margin-right: auto;
    padding-bottom: 50px;
  }
  &__paragraph {
    padding-bottom: 20px;
  }
}

// HOMEPAGE
.home-content__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  margin-bottom: -3vh;
  h1 {
    @include primary-font();
    color: $color-tundora-grey;
    font-size: 1.4em; }
  p {
    text-align: center;
    color: $color-tundora-grey;
    width: 32em;
    max-width: 90%;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif; }
  a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 0;
    margin: 5px 0;
    color: $color-tundora-grey;
    border-bottom: 1px solid $color-tundora-grey; }

  img { fill: $color-tundora-grey; }
}